<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>baconytics</servlet-name>
		<servlet-class>edu.gatech.cc.baconytics.BaconyticsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>scraper</servlet-name>
		<servlet-class>edu.gatech.cc.baconytics.scraper.ScraperServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>aggregator</servlet-name>
        <servlet-class>edu.gatech.cc.baconytics.aggregator.AggregatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>analyzer</servlet-name>
        <servlet-class>edu.gatech.cc.baconytics.analyzer.Analyzer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>keyentjsonservlet</servlet-name>
        <servlet-class>edu.gatech.cc.baconytics.analyzer.json.KeyEntJSONServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timevis</servlet-name>
        <servlet-class>edu.gatech.cc.baconytics.analyzer.ForumActivity</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>timevis</servlet-name>
        <url-pattern>/timevisualization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>baconytics</servlet-name>
		<url-pattern>/baconytics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>scraper</servlet-name>
		<url-pattern>/scraper</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>aggregator</servlet-name>
        <url-pattern>/aggregator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>analyzer</servlet-name>
        <url-pattern>/analyzer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>keyentjsonservlet</servlet-name>
        <url-pattern>/keyentjsonservlet</url-pattern>
    </servlet-mapping>
    
    
	<servlet>
        <servlet-name>testfeeder</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.FeederTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testapi</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.NlpApiTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testextractor</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.ExtractorTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testputter</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.PutterTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initkeyword</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.InitKeywordEntity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timer</servlet-name>
        <servlet-class>test.edu.gatech.cc.baconytics.aggregator.SetUTCTime</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>testfeeder</servlet-name>
        <url-pattern>/testfeeder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testapi</servlet-name>
        <url-pattern>/testapi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testextractor</servlet-name>
        <url-pattern>/testextractor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testputter</servlet-name>
        <url-pattern>/testputter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initkeyword</servlet-name>
        <url-pattern>/initkeyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timer</servlet-name>
        <url-pattern>/debug/timer</url-pattern>
    </servlet-mapping>  

    <welcome-file-list>
		<welcome-file>baconytics</welcome-file>
	</welcome-file-list>
</web-app>
